.Card{
    background-color: #207BC0;
    height: 450px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    border: 2px solid black;
    box-shadow: 5px 5px 5px rgb(29, 65, 92)
}
.Picture{
    background: rgb(129, 161, 185);
    height: 200px;
    width: 200px;
    border: 2px solid black;
    margin: 20px
}

.PokemonName{
    color: white;
    font-weight: 200;
    font-size: 200%;
    text-transform: capitalize;
}

.AttackButton{
    background: rgb(219, 9, 9);
    height: 70px;
    width: 160px;
    color: white;
}

.Info{
    background: white;
    height: 50px;
    width: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    margin: 10px;
}
