
.BattleGround{
    /* background: red; */
    width: 800;
    height: 580px;
    
    display: flex;
    flex-flow: column;
}
.TopBar{
    background: #EE4025;
    width: 800px;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid black;
}

.Table{
    background: #7AA85D;
    width: 800px;
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid black;
}
.BotBar{
    background: #EE4025;
    width: 800px;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid black;
}

.TitleScreenImage{
    height: 310px;
    border: 2px solid black;
}

.Intro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.Intro h1{
    font-size: 200%;
}
.PlayerName, .OpponentsBeat, .OpponentName, .Lives{
    color: white;
    font-weight: bolder;
}

.BotBar button{
    height: 30px;
    background: white;
    color: rgb(1, 1, 141);
    font-size: 100%;
    font-weight: 600;
}

.BotBar p{
    color: white;
    font-weight: bolder;
}
.Intro p{
    font-weight: bolder; 
}